<a href="https://colab.research.google.com/github/msadeghi322/Notes/blob/main/SQLcourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Databases](https://www.youtube.com/watch?v=HXV3zeQKqGY)
**Database is any collection of related data.**

**Databse management systems (DBMS)**:
Software that helps:
1. creating database,
2. manage data,
3. hanlde security
4. Make backups
5. import/export data
6. Interact with other software (programming languages)

**Operations with DBMS**:

C.R.U.D: Create, Read, Update, Delete

## Types of databases
1. Relational Database (SQL)
* Any database that can be presented in the form of tables, with rows and columns, and each row is identified by a unique "key". For example below:

In [5]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'Name': ['james','bob','karren','allice']})
df = pd.concat([df, pd.DataFrame(np.random.randn(4, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df

     Name         B         C         D         E
0   james  1.329212       NaN -0.316280 -0.990810
1     bob -1.070816 -1.438713  0.564417  0.295722
2  karren -1.626404  0.219565  0.678805  1.889273
3  allice  0.961538  0.104011 -0.481165  0.850229

2. Non-relational Database:
Any other type of data that cannot be organized in table, like text documents, graphs etc.

## Relational Database Management Systems (RDBMS)

Help users create and maintain relational databases. Examples are:
* mySQL,
* Oracle,
* postgreSQL,
* mariaDB, ...

**Structured Query Language (SQL)**

Standardized ***language*** to interact with Relational DBMS
* Perform CRUD operations on database
* Define tables and structure
* User management, backup, security etc

Note: A code written in SQL to interact with one RDBMS, may not be usable for another RDBMS- it may require modification.

## Database Queries
Basscially a code that asks for a specific piece of informaiton from the database. In large databses, sometimes you only need access a specific part of data, and query is just telling the DBMS to give you only that piece of information. For example:
* You have a database of personal information abut employees. But for some reason you want the data from employees that are within a certain range of age, or have certain number of years of employment. A query here is just to specify the features you want to get the data that meets those features.
* Another example in our data analysis which we alwayse do: Let's say from the collected experimental data for a task, I only want the trials that were successful, or the trials with a certain feature. All I do is to specify the feature I want in the code, and extract the data that meets those features.
* Some specific examples: find() in matlab is a query code, it returns data that has a specific feature.

Sometimes, the data is so complex, that a query might itself be a complex code to narrow the search down to a very specific peice of information.

# Tables and Keys

 * A table contains a bunch of columns, each column represents a feature/attribute (name, age, whatever). Each row is a unique entry for each of those features, for example, each row contains the information of a single student. Each row should be specified with a unique key. The key is either an ID, or just an index or whatever.

 * The attributes (colomns) of a given table, could themselves be some sort of an ID, referencing the relationship of that entry to another table. For example, If we have a table list of employees with their ID as key, one attribute could be the branch id in which that employee is working, where, there is a separate table that lists those branches.

 * Another interesting thing, is that there could be an attribute that specifies the relationship between the entries. For example a colomn that specifies, for each employee, the ID of their supervisor. Note, that the supervisor is themselves an entry in that table. This can extend to any other relationship.

 * Sometimes, for a table, instead of one unique key that specifies each entry, there could be a combinaiton of keys, that together, identify a unique entry, but each one independently does not address a unique entry. In the exmaple below (ignore the index), the Employee ID and the Client ID together specify the unique key, but each one separately cannot specify unique entries because they have repetitions.

In [18]:
import pandas as pd
import numpy as np

np.random.seed(24)
df1 = pd.DataFrame({'EmployeeID': [101,105,104,105]})
df2 = pd.DataFrame({'ClientID': [401,402,403,403]})
df3 = pd.DataFrame({'totalsale':1000*np.random.rand(4)})
df = pd.concat([df1, df2,df3], axis=1)
df = df.reset_index(drop=True)
df

   EmployeeID  ClientID   totalsale
0         101       401  960.017303
1         105       402  699.512050
2         104       403  999.867293
3         105       403  220.067300

# Basics of SQL
SQL is a language to interact with DBMS. It's not technically a programming language, it's mainly a query language.


## Query
There are Tons of data in DB, often hidden in a complex schema, the goal is to get the data we need. An exmaple:
```
SELECT employee.name, employee.age
FROM employee
WHERE employee.salary>30000
```
Ths basically asks for certain attribute information (employee name and age) from a table (employee), where an attributes meets a given requirement (salary>30000).

# Installing MySQL
MySQL is an open-source relational database management system (RDBMS) that is widely used for managing and storing data. It is one of the most popular relational database systems in the world and is commonly used in web development, data-driven applications, and various other software projects.

Installing SQL needs a few tricks, which you can follow easily in the youtube link at the top of this notebook. But start with downloading the MySQL installer below.

[Download MySQL community server](https://dev.mysql.com/downloads/mysql/)

Follow the instructions from the video to install. When done, you can open the **MySQL command line** which is a terminal, and after entering the password you created earlier, the terminal opens for commands. The first thing to do in the command line is to create a database, which is simply done by: \\
`create database NAME` \\

Now, working with the command line is boring, but there are editor apps that provide a better user interface to work with databases, and these app can connect to the database you created and do all the things. The app we use is [popsql](https://popsql.com/). After download and install, you have to sign in with a google account or creat a new account.

Then create a connection, where you connect to the database server you created earlier. it requires the name of the database you created, as well as the hostname (which is `localhost` and other things.)

# Creating tables

The first thing is to create a table using SQL commands. To create one, it's good to know about different data types. Some of the important data types are: \\
* INT : integer numbers
* DECIMAL(M,N) : similar to float in python (real numbers). with M total digits with N of them as decimal
* VARCHAR(N) : string of text with length N (N characters)
* BLOB : Binary Larg OBject (??)
* DATE : date ('YYYY-MM-DD')
* TIMESTAMP : time ('YYYY-MM-DD HH:MM:SS')

These are not all the data types, but main ones. Now when creating data tables, we should specify what data types are used for each colomn.

To create table, type the command: note that it's in capital letters- it doesn't have to be, but it is best practice to have in capital just to distinguish it from normal text.

```
CREATE TABLE name();
```

Note that all commands are followed by semicolon (;). \\

A sample code would be like:

```
CREATE TABLE student(
    student_id INT PRIMARY KEY,
    name VARCHAR(20),
    major VARCHAR(20)
);
```

Here, the table `student` is created with three colomns: the `student_id`, which is of type `INT`, and is the `PRIMARY KEY`. You can also specify the primary key colomn with:

```
CREATE TABLE student(
    student_id INT,
    name VARCHAR(20),
    major VARCHAR(20),
    PRIMARY KEY(student_id)
);
```

* You can show the table visually using the command: \
`DESCRIBE student;`

* Delete a table: \\
`DROP student;`

* Modify the table: \\
  * Add a colomn:  `ALTER TABLE student ADD gpa DECIMAL(3,2);`
  * Delete a column: `ALTER TABLE student DROP gpa;`

### Inserting data into table

The command to use is: \\
`INSERT INTO tablename VALUES(x,y,z,...);`

The values should be in the order of attributes/columns. In our example: \\
```
INSERT INTO student VALUES(1, 'Jack', 'Biology');
INSERT INTO student VALUES(2, 'Kate', 'Sociol');
INSERT INTO student(student_id, name) VALUES(3, 'Clair');
INSERT INTO student VALUES(4, 'Jack', 'Biology');
INSERT INTO student VALUES(5, 'Mike', 'Comp Sci');
```

This gives the id, name and major of the first student entry.
The general form of inserting data in the table is as follows:

`INSERT INTO student(student_id, name) VALUES(xx, 'name')`

In this case, only the attributes specified in the table student will be valued. the rest will show as NULL in the table.

**Interesting point**: when running a command in SQL, it makes the change, and if you run it again it throws error saying the change is already made. Basically when a command is run once, you can't run it again (despite matlab or python). In our case, when I ran the command above once, it created the entry, and when I ran it again, it said the entry with the given key is already inserted.

To show the table with the inserted data, use the following command: \\
`SELECT * FROM student;`

This basically selects all the information (*) from the table and displays it. `SELECT` is the command for query and selecting particular information from a table.

### More advanced ways of data entry

We can give more properties to each attribute when creating a table. For exmaple:

```
CREATE TABLE student(
    student_id INT PRIMARY KEY,
    name VARCHAR(20) NOT NULL,
    major VARCHAR(20) UNIQUE
);
```

Here we specify that name should not be NULL, and major should be unique (no repetitions).